<li data-id="{{id}}" class="student-card">
  <p><b>{{firstName}} {{lastName}}</b></p>
  <p>Вік: {{age}}</p>
  <p>Курс: {{course}}</p>
  <p>Факультет: {{faculty}}</p>
  <button class="edit-btn">Edit</button>
  <button class="delete-btn">Delete</button>
</li>
